body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: .9em;
    margin: 0;
    padding: 0;   
}
h1 {
    font-size: 1.5em;
    color: #334499;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.navbar a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding-right: .5rem;
    padding-left: .5rem;
    
}
.main-content {
    margin-top: 80px;
    padding: 20px;
    overflow-x: auto; 
}
.baseNotes {
    width: 50px;
    margin-left: 20px;
}
.quality-name {
    width: 200px;
}
